body, html {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background {
    // min-height: 80vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: background-image 1s ease-in-out;
}

.header {
    height: 122px;
}

.navbar {
    display: flex;
    gap: 4rem;
    padding: 44px;
    align-items: center;
    // height: 100px;
    width: 100%;
    background-color: #FBEDB7;

    a {
        color: #ffff;
        text-decoration: none;
    }
    
}

.navbar-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    justify-self: end;
    flex-grow: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    a {
        color: #fff;
    }
}

.navbarP {
    color: white
}

.heroDiv {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

.footer {
    color: #fff;
    // display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    margin-top: auto;
    flex-wrap: wrap;
}

.main {
    width: 100% !important;
}

.ourStory {
    color: #fff;
    background-color: grey;
}